.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(114, 114, 114, 0.6);
    z-index: 500;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background: brown;
    z-index: 800;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.open{
    transform: translateX(0);
}